.wrapper-authorization{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.623);
}
.wrapper-authorization_block{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 1200px;
    height: 530px;
    padding: 45px 333px 35px 333px;
    border-radius: 15px;
    margin: 45px 0;

}
.wrapper-authorization h1,p{
    padding-bottom: 39px;
}
.wrapper-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrapper-form_input,.wrapper-form_button{
    padding: 28px 24px;
    width: 400px;
    border-radius: 10px;
    margin: 11px 0;
    border: 1px solid black;
}


.wrapper-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: row;
}


.SignInFormBtn {
    width: 100%;
    max-width: 204px;
    height: 69px;
    background: linear-gradient(180deg, #1280FF 30.73%, #0B4D99 245.17%);
    border: none;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 48px;
    box-shadow: 0px 3.8px 3.8px 0px #00000040;
    border-radius: 7.61px;
}

.disabledButton {
    background: #C9CCD0;
    width: 100%;
    max-width: 204px;
    height: 69px;
    border: none;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 48px;
    box-shadow: 0px 3.8px 3.8px 0px #00000040;
    border-radius: 7.61px;

}