.wrapper-authorization{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background-color: rgba(0, 0, 0, 0.623);
}
.authorization_block{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* width: 100%px; */
   

}
.wrapper-authorization_block{
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;

    padding: 45px 0 35px 0;
    border-radius: 15px;
    margin: 45px 0;
}
.wrapper-authorization h1,p{
    padding-bottom: 39px;
}
.wrapper-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrapper-form_input,.wrapper-form_button{
    padding: 28px 24px;
    width: 400px;
    border-radius: 10px;
    margin: 11px 0;
    border: 1px solid rgba(0, 0, 0, 0.397);
}


.wrapper-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: row;
}


.disabledButton {
    background-color: rgba(95, 95, 95, 0.39);
    color: rgb(54, 54, 54);
    padding: 28px 24px;
    width: 400px;

    border-radius: 10px;
    margin: 11px 0;
    border: none;
}